<% provide(:title, "登录") %>
<div class="login-title">
  <a href="../../">
    <h1>SURA</h1>
  </a>
</div>
<div class="login-content">
  <div class="top-btn">
    <a href="#" id="btn-login">登录</a>
  </div>
  <%= form_tag("/signin", method: "post") do %>
    <% if flash[:danger] && !(flash[:danger].empty?) %>
      <div id="warning"><%= flash[:danger] %></div>
    <% end %>
    <div class="input-home">
      <%= image_tag 'user-ico.png', class: 'user-ico' %>
      <input placeholder="用户名（不区分大小写）" type="text" name="session[username]" id="input-username" autofocus="autofocus" required="required">
      <%= image_tag 'lock-ico.png', class: 'lock-ico' %>
      <input placeholder="密码" id="input-password" name="session[password]" type="password">
    </div>
    <div class="bottom-btn">
      <span>不想登录了？</span>
      <a href="javascript:history.back();">返回</a>
      <button id="btn-submit">提交</button>
    </div>
  <% end %>
</div>
