#error_explanation {
  color: red;
  background-color: #bbffaa;
  ul {
    color: red;
    li {
      margin-top: 5px;
    }
  }
}

#warning {
  color: red;
  padding: 5px 0;
  background-color: #bbffaa;
}
